freeman_data/
freeman_data_test/
*/__pycache__/
__pycache__
*.pyc
build_hunyuan_image.log
.cursor/
stopmotion/
NightKing/
modal_example/
config.bak/
*.mp4
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.mp4
cache/
outputs/
t.py
hytraining/
tensorboard_logs/
.cursorrules
.toml
